.flex-container {
  flex: display;
  flex-direction: column;
}

.section-titlea {
  margin-bottom: 3%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.21;
  color: #3f3d56;
}

.section-titlea > span {
  color: #03bfa6;
}

.paragraphe {
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #3f3d56;
}

.photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 10%;
  padding-left: 10%;
}

.photos > div {
  width: 13rem;
  text-align: center;
  line-height: 75px;
  font-size: 2.2rem;
}
.photos > div > img {
  margin-bottom: 0px;
}
.photos > div > div {
  margin-bottom: 20%;
}
.photo1 {
  width: 12.3rem; /* because this photo is bigger than the 2 others*/
}

.imgTitle {
  font-weight: bolder;
  color: #3f3d56;
}
