input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding-left: 2vw;
  padding-top: 0.4vh;
  border: none;
  background-color: #ffffff;
  resize: none;
  color: #3f3d56;
  border-radius: 0.8vw;
}
input[type="text"],
input[type="email"] {
  height: 7.5vh;
}

.submitButton {
  width: 15vw;
  height: 7.5vh;
  border: none;
  background-color: #ffffff;
  float: right;
  text-align: center;
  color: #3f3d56;
  cursor: pointer;
  border-radius: 0.8vw;
}
.textarea {
  height: 27vh;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
.contact-form {
  width: 60vw;
  font-size: 2.6vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  margin: 0 auto;
}
.input-row {
  margin-bottom: 1.5vh;
}
.button-row {
  margin-bottom: 1.5vh;
}
.textarea-row {
  margin-bottom: 1vh;
}
