.eventSection {
    transform: skew(0deg, -5deg);
    background: #f2f2f2;
    margin-top: 50vw;
}

.section-content-event {
    overflow: hidden;
    text-align: center;
    position: relative;
    top: -25vw;
    transform: skew(0deg, 5deg);
}


.section-container {
    width: 100%;
    height: 30em;
    margin: auto;
}

.eventSection.title-section {
    color: hsl(245, 17%, 29%);
    width: 100%;
    text-align: center;
}

.eventSection.title-section h1 {
    font-size: 4.25rem;
}

#our {
    color: #5390f5
}

.green-svg,
.blue-svg {
    opacity: 0.32;
}

.green-svg {
    height: 16rem;
    width: 20rem;
    position: absolute;
    top: 8%;
    left: 4%;
    transform: rotate(-70deg);
}

.slideshow {
    z-index: 1;
    position: relative;
    height: 100%;
}

.blue-svg {
    height: 18rem;
    width: 20rem;
    position: absolute;
    top: 55%;
    left: 68%;
    transform: rotate(120deg);
}

@media screen and (max-height : 667px) {
    .section-container {
        height: 30em;
    }
}

@media screen and (min-width : 1403px) {
    .blue-svg {

        top: 56%;
        left: 70%;
    }

    .green-svg {
        top: 8%;
        left: 4%;
    }
}

@media screen and (max-width : 960px) {
    .green-svg {
        top: 6%;
        left: -4%;
    }
}

@media screen and (max-width : 1115px) {
    .blue-svg {

        top: 56%;
        left: 64%;
    }
}

@media screen and (max-width : 50em) {
    .eventSection {
        padding-bottom: 10%;
    }

    .blue-svg {

        height: 12rem;
        width: 16rem;
        position: absolute;
        top: 72%;
        left: 50%;
    }

    .green-svg {
        height: 11rem;
        width: 10rem;
        position: absolute;
        top: 0%;
        left: -3%;
    }

    .eventSection.title-section {
        text-align: center;
        width: 100%;
    }
}