.eventSlide {
    background-color: white;
    display: flex;
    margin: auto;
    border: solid 7px #f2f2f2;
    border-radius: 6vw;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
}

.eventContent {
    margin: auto 5%;
}

.eventImage {
    margin: auto;
}

.eventContent h1 {
    font-size: 5vw;
    text-align: left;
    color: #03bfa6;
}

.eventContent p {
    font-size: 1.5vw;
    margin-bottom: 0%;
    line-height: 1.2;
    text-align: left;
    color: #3f3d56;
}

.b-container {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.button-text {
    
}

@media screen and (max-width: 50em) {
    .eventSlide {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .eventContent {
        margin: 5%;
        padding-top: 15%;
    }

    .eventContent p {
        font-size: 8vw;
        text-align: center;
    }

    .eventContent h1 {
        font-size: 2.5vw;
        text-align: center;
    }

}

@media screen and (max-width: 1024px) {
    .eventContent p {
        font-size: 2vw;
    }

    .eventContent h1 {
        font-size: 7vw;
    }
}

@media screen and (max-width: 650px) {
    .eventContent p {
        font-size: 3vw;
    }

    .eventContent h1 {
        font-size: 9vw;
    }
}

@media screen and (max-width: 450px) {
    .eventContent p {
        font-size: 4vw;
    }

    .eventContent h1 {
        font-size: 10vw;
        margin-bottom: 2%;
    }
}