@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.footer {
  position: fixed;
  left: 0;
  bottom: 0;  
  width: 100vw;
  height: 40vw; 

  background-color: transparent;
  /* background-color: pink; */
  background-image: url(../images/footer.svg);
  background-size: 100%;
  background-position: top left;

  margin:0px;
  padding: 0px; 
}


.footer-box {  
  position: absolute;
  left: 34%;
  bottom: 0%;
  max-height: 40%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 39%;
  height: 33%;
}

.logo {
  order: 1;
  max-width: 80%;
  max-height: 100%;
}

.logo img {
  width: 100%;
  height: 100%
}

.copyrights {
  order: 2;
  color: #3f3d56;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2vw;
  min-width: 120%;
}

.social {
  order: 3;
  min-width: 110%;
}