.skewed-bg {
    transform: skew(0deg, -5deg);
    background: #f2f2f2;
    padding-bottom: 5vw;
    margin-bottom: 15%;
}

.landing {
    display: inline-grid;
    grid-template-columns: 10% auto;
    grid-column-gap: 2%;
    width: 100%;
    background-color: #f2f2f2;
    transform: skew(0deg, 5deg);
}

.social-media-holder {
    display: inline-grid;
    grid-template-rows: 25% auto 35%;
    grid-row-gap: 2%;
    width: 100%;
    position: relative;
}

.shape img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.social-links {
    position: absolute;
    z-index: 1;
    padding-left: 5%;
    width: 28%;
}

.social-links img {
    margin: 50%;
}

.main-landing-holder {
    position: relative;
    overflow: hidden;
}

.main-landing img {
    position: relative;
    right: -35%;
    bottom: -2rem;
    width: 60%;
}

.title {
    align-self: center;
    overflow-x: visible;
    grid-row-start: 3;
    width: 300%;
    text-align: start;
}

.title h1 {
    color: #3f3d56;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 4.5vw;
    margin-left: 4%;
    margin-top: 0.2rem;
}

.title h2 {
    color: #03bfa6;
    font-size: 3.5vw;
    margin-left: 4%;
    margin-bottom: 0%;
}

.bar {
    height: 20%;
    border-right: 0.8vw solid #5491f5;
    position: absolute;
    border-radius: 2vw;
    margin-left: 15%;
}

.blueWTM {
    width: 25%;
    transform: skew(0deg, 5deg);
    position: absolute;
    bottom: -31%;
    left: -1.5%;
}

@media (max-width: 650px) {

    .skewed-bg {
        margin-bottom: 20%;
    }

    .main-landing img {
        right: 5%;
        bottom: -5rem;
        width: 100%;
    }

    .main-landing {
        height: 70%;
        width: 150%;
    }

    .shape img {
        top: 0px;
        left: 0px;
        z-index: 1;
    }

    .landing {
        height: 180vw;
    }

    .social-media-holder {
        width: 250%;
    }

    .title {
        width: 250%;
    }

    .title h1 {
        font-size: 6.5vw;
        margin-left: 8%;
    }

    .title h2 {
        font-size: 5.5vw;
        margin-left: 8%;
    }

    .bar {
        height: 10%;
        border-right: 1.3vw solid #5491f5;
    }

    .blueWTM {
        width: 35%;
        bottom: -15%;
    }
}