.slider {
    width: 100%;
    margin: auto;
    height: 100%;
}

.track {
    margin: auto;
}

.slideButton {
    margin: auto;
    opacity: 0.5;
}

.slide {
    width: 70%;
    margin-left: 15%;
    height: 100%;

}

.slide.animateIn,
.slide.animateOut {
    transition: all 0.5s ease;
}

.slide.animateOut.next,
.slide.previous {
    left: -81%;
}

.slide.animateOut.previous,
.slide.next {
    left: 81%;

}

.loading {
    position: relative;
    top: 7em;
}

.SlideShowContent {
    height: 100%;
    padding-top: 10%;
}


@media screen and (max-width: 50em) {

    .slide {
        margin-top: auto;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .slider a.nextButton {
        right: 0px;
        font-size: 16px;
    }

    .slider a.previousButton {
        left: 0px;
        font-size: 16px;
    }

    .slide.animateIn,
    .slide.animateOut {
        transition: all 0.5s ease;
    }

    .slide.previous,
    .slide.animateOut.next {
        left: -85%;
    }

    .slide.next,
    .slide.animateOut.previous {
        left: 85%;
    }

    .SlideShowContent {
        padding-top: 0%;
    }

}