.slider {
    width: 100%;
    margin: auto;
    height: 100%;
}

.track {
    margin: auto;
}

.slideButton {

    margin: auto;
    opacity: 0.5;
}

.slide {
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;

}

.slide.animateIn,
.slide.animateOut {
    transition: all 1s ease;
}

.slide.previous {
    left: -81%;
}

.slide.next {
    left: 81%;
}

.slide.animateOut.next {
    left: -81%;
}

.slide.animateOut.previous {
    left: 81%;

}


@media screen and (max-width: 60em) {
    .slider {

        min-height: 100%;
        height: 100%;
        min-width: 200px;
    }

    .slide {
        margin-top: auto;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .slider a.nextButton {
        right: 0px;
        font-size: 16px;

    }

    .slider a.previousButton {
        left: 0px;
        font-size: 16px;
    }

    .slide.animateIn,
    .slide.animateOut {
        transition: all 1s ease;
    }

    .slide.previous, .slide.animateOut.next {
        left: -85%;
    }

    .slide.next, .slide.animateOut.previous  {
        left: 85%;
    }

}